@import url("components/banner.css");
@import url("components/container.css");
@import url("components/card.css");
@import url("components/image.css");
@import url("components/scroll.css");
@import url("components/timeline.css");
@import url("components/a.css");
@import url('https://fonts.googleapis.com/css?family=Alegreya|Lato&display=swap');

h1 h2 h3 a {
	font-family: 'Alegreya', serif;
}

html {
	height: 100%;
}

body {
	background-color: #FFFFFF;
	margin: 0px;
	height: 100%;
}

p {
	font-family: 'Lato', sans-serif;
}

.margin-right {
	margin-right: 1.5vw;
}

.padding-right {
	padding-right: .5vw;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
	.margin-right {
		margin-right: 10vw;
	}
}