@import url("components/banner.css");
@import url("components/container.css");
@import url("components/card.css");
@import url("components/image.css");
@import url("components/scroll.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Raleway&display=swap")

h1 h2 h3 {
	font-family: 'Raleway', sans-serif;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 250;
	background-color: #FFFFFF;
	margin: 0px;
}

.margin-right {
	margin-right: 2vw;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
	.margin-right {
		margin-right: 10vw;
	}
}