.banner {
 	background-image: url(../../images/banner.jpg);   
	background-size: cover;     
	background-position: right 0;
	width: 100%;
  	height: 85vh;
  	display: flex;
}

.banner h1, h2 {
	margin-block-start: 0px;
	margin-block-end: 0px;
}

.banner h1 {
	font-weight: 250;
	font-size: 75px;
	word-wrap: break-word;
}

.banner h2 {	
	font-weight: 150;
	padding: 55vh 0vh 0vh 0vh;
}

#text-banner {
	width: 100%;
	height: 75vh;
	text-align: left;
	padding: 0vh 0vh 0vh 20vh;
	color: white;
}

 @media only screen and (device-width: 375px) {
	#text-banner {
		width: 100%;
		height: 75vh;
		text-align: center;
		color: red;
	}

	.banner h2 {	
		font-weight: 150;
		font-size: 50px;
		padding: 25vh 0vh 0vh 0vh;
	}

	.banner h1 {
		font-weight: 250;
		font-size: 100px;
		display: flex;
		justify-content: flex-end;
		padding: 0vh 0vh 10vh 0vh;
	}
}

/*
	font-family: 'Open Sans', sans-serif;
	font-family: 'Raleway', sans-serif;*/