.card {
	display: flex;
	line-height: 20px;
	padding-bottom: 5vh;
	padding-left: 5vw;
	justify-content: center;
	width: 60vw;
}

.card h3 {
	color: #5E9516;
	font-weight: 100;
	line-height: 30px
}

.card a {
	color: #3274C7;
	font-size: 25px;
}

.card a:hover {
	color: #26548d;
}

.card .nav-item:before {
	background-color: #26548d;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
	.card {
		flex-direction: column;
		text-align: center;
		justify-content: center;
		font-size: 40px;
		line-height: 45px;
	}

	.card a {
		font-size: 45px;
	}

	.card h3 {
		line-height: 45px;
	}
}