.card {
	display: flex;
	line-height: 20px;
	padding-bottom: 5vh;
	justify-content: center;
	align-items: center;
}

.card h3 {
	color: #5E9516;
	font-weight: 100;
}

.card a {
	color: #3274C7;
	text-decoration: none;
	font-size: 25px;
}

.card a:hover {
	color: #26548d;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
	.card {
		flex-direction: column;
		text-align: center;
		font-size: 40px;
		line-height: 40px;
	}

	.card a {
		font-size: 45px;
	}

}