.container {
	margin: 0 auto;
	text-align: center;
}

.container-large {
	width: 65vw;
}

.container-small {
	width: 50vw;
}

.container-x-small {
	width: 200px;
}

.background-white {
	background-color: white;
}

.container-left-aligned {
	text-align: left;
	padding: 10px 0px 10px 20px;
}

.container-title {
	padding: 50px 0vh;
	font-size: 25px;
}

.container-title h2 {
	font-weight: 350;
}

.container-flex {
	display: flex;
}

.container-space-between {
	justify-content: space-between;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
	.container-left-aligned {
		text-align: center;
		padding: 0px;
	}

	.container-large {
		width: 100%;
	}

	.container-small {
		width: 100%;
	}
}