.image-large {  
	width: 40vh;
  	height: 30vh;
  	border-radius: 20px;
}

.image-small {  
	width: 5vh;
  	height: 5vh;
  	font-size: 5vh;
}
/*
@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
	.image-small {  
		width: 70vh;
		height: 0vh;
  		font-size: 50px;
	}
}*/