/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background-color: #77BAD8;
  top: 15vh;
  bottom: 0;
  left: 5%;
  margin-left: -2px;
  height: calc(100%);
}

/* Container around content */
.container-timeline {
  position: relative;
  background-color: white;
  width: 90%;
}

/* The circles on the timeline */
.container-timeline::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  right: -17px;
  background-color: white;
  border: 2px solid #77BAD8;
  top: 15vh;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the right */
.timeline-right {
  left: 5%;
}

/* Fix the circle for containers on the right side */
.timeline-right::after {
  left: -11px;
}

/* The actual content */
.timeline-content {
  width: 100%;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 768px) {
  .timeline {
    position: relative;
    width: 100%;
    max-width: 75vw;
    margin: 0 auto;
  }

/* Place the timelime to the left */
  .timeline::after {
    left: 20px;
    top: 225px;
  }

/* Full-width containers */
  .container-timeline {
    padding-left: 50px;
    width: 90%;
  }

  .container-timeline::after {
    top: 225px;
  }

/* Make sure all circles are at the same spot */
  .timeline-left::after, .timeline-right::after {
    left: 10px;
  }

/* Make all right containers behave like the left ones */
  .timeline-right {
    left: 0%;
  }
}